<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>

  <%- include('./partials/nav.ejs') %>

  <div class = 'article'>
    <div class ='product'>
    <img class = 'image' src = <%=product.imagePath %> />
    <h3 class = 'model'> <%=product.model %></h3>
    <p class = 'price'> <%=product.price %></p>
   </div>  
</body>
<%- include('./partials/footer.ejs') %>
</html>