<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>

  <%- include('./partials/nav.ejs') %>


  <div class = 'article'>
   <% if (products.length >0){ %>
   <% products.forEach(product =>{ %>
    <div class ='product'>
    <% var productUrl = '/products/' %>
    <%productUrl+=product._id %>
    
    
    <a href =<%=productUrl %> >
    <img class = 'image' src = <%=product.imagePath %> />
    </a>
    <button class = 'img-button'>Loupe</button>
    <h3 class = 'model'> <%=product.model %></h3>
    <p class = 'price'> <%=product.price %></p>
    <form action="/cart" method="POST">
    <button type = 'submit'>Add to cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
    </form>
  
  </div>
   <% }) %>
    <% } else { %>
    <p> There are no products to display</p>
    <% } %>
    </div>

    <script type="text/javascript">
      function image(img) {
          var src = img.src;
          window.open(src);
      }
      </script>
</body>
<%- include('./partials/footer.ejs') %>


</html>